nz-layout {
  height: 100vh;

  nz-content {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-content {
      background: #fff;
      padding: 24px;
      min-height: 280px;
    }
  }

  nz-footer {
    text-align: center;
  }
}
